<a href="https://colab.research.google.com/github/Seshmanuvarthi/ml-journey-2025/blob/main/ML_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WEEK-1

5. Create the following Series and do the specified
operations:
a) EngAlph, having 26 elements with the alphabets
as values and default index values.
b) Vowels, having 5 elements with index labels ‘a’,
‘e’, ‘i’, ‘o’ and ‘u’ and all the five values set to zero.
Check if it is an empty series.
c) Friends, from a dictionary having roll numbers of
five of your friends as data and their first name
as keys.
d) MTseries, an empty Series. Check if it is an empty
series.
e) MonthDays, from a numpy array having the
number of days in the 12 months of a year. The
labels should be the month numbers from 1 to 12.

In [ ]:
import pandas as pd
import numpy as np

#a)
alphabets = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
             'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
             'U', 'V', 'W', 'X', 'Y', 'Z']
EngAlph = pd.Series(alphabets)
#print(EngAlph)

#b)
Vowels = pd.Series([0, 0, 0, 0, 0], index=['a', 'e', 'i', 'o', 'u'])
#print("Vowels Series:")
#print(Vowels)
#print("\nIs the Vowels series empty ",Vowels.empty)

#c)
d1={"sesh":1900,"sesh2":1901,"sesh3":1902,"sesh4":1904,"sesh5":1905}
frndSeries=pd.Series(d1)
#print(frndSeries)

#d)
MTSeries=pd.Series()
#print(MTSeries.empty)

#e)
days = np.array([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31])
Months=pd.Series(days,index=[1,2,3,4,5,6,7,8,9,10,11,12])
print(Months)

1     31
2     28
3     31
4     30
5     31
6     30
7     31
8     31
9     30
10    31
11    30
12    31
dtype: int64

6. Using the Series created in Question 5, write
commands for the following:
a) Set all the values of Vowels to 10 and display the
Series.
b) Divide all values of Vowels by 2 and display the
Series.
c) Create another series Vowels1 having 5 elements
with index labels ‘a’, ‘e’, ‘i’, ‘o’ and ‘u’ having values
[2,5,6,3,8] respectively.
d) Add Vowels and Vowels1 and assign the result to
Vowels3.
e) Subtract, Multiply and Divide Vowels by Vowels1.
f) Alter the labels of Vowels1 to [‘A’, ‘E’, ‘I’, ‘O’, ‘U’].

In [ ]:
Vowels = pd.Series(10, index=['a', 'e', 'i', 'o', 'u'])
#print(Vowels)

Vowels=Vowels/2         #Divide each value by 2
#print(Vowels)

Vowels1=pd.Series([2,5,6,3,8],index=['a', 'e', 'i', 'o', 'u'])

Vowels3=Vowels+Vowels1
#print(Vowels3)

print(Vowels-Vowels1)

print(Vowels+Vowels1)

print(Vowels*Vowels1)                       #Athematic operations can be directlt performed on the 2 SERIES directly just like integers

print(Vowels/Vowels1)

Vowels1.index=["A",'E','I','O','U']

print(Vowels1)

a    3.0
e    0.0
i   -1.0
o    2.0
u   -3.0
dtype: float64
a     7.0
e    10.0
i    11.0
o     8.0
u    13.0
dtype: float64
a    10.0
e    25.0
i    30.0
o    15.0
u    40.0
dtype: float64
a    2.500000
e    1.000000
i    0.833333
o    1.666667
u    0.625000
dtype: float64
A    2
E    5
I    6
O    3
U    8
dtype: int64

7. Using the Series created in Question 5, write
commands for the following:
a) Find the dimensions, size and values of the Series
EngAlph, Vowels, Friends, MTseries, MonthDays.
b) Rename the Series MTseries as SeriesEmpty.
c) Name the index of the Series MonthDays as
monthno and that of Series Friends as Fname.
d) Display the 3rd and 2nd value of the Series Notes
Friends, in that order.
e) Display the alphabets ‘e’ to ‘p’ from the Series
EngAlph.
f) Display the first 10 values in the Series EngAlph.
g) Display the last 10 values in the Series EngAlph.
h) Display the MTseries.

In [ ]:
#a)
EngAlph.shape #Shape of a DataFrame
EngAlph.ndim  #To get the dimension of a Series
print(EngAlph.size)  #To get the Size of the Series
EngAlph.values #To display the values of a Series

#b)
#SeriesEmpty = MTSeries.copy()
#del MTSeries

#print(SeriesEmpty)


#c)
Months.index.name="monthno"
frndSeries.index.name="Fname"

#print(Months)
#print(frndSeries)

#d)
print(frndSeries.iloc[2])
print(frndSeries.iloc[1])


#e)
#print(EngAlph.iloc[4:16])   #Use iloc to print the Series from e to p

#f)
#print(EngAlph.head(10))  #To display first 10 values of the Series

#g)

print(EngAlph.tail(10))   #To display the last 10 elements of the Series


#h)

#print(MTSeries)

26
1902
1901
16    Q
17    R
18    S
19    T
20    U
21    V
22    W
23    X
24    Y
25    Z
dtype: object

8. Using the Series created in Question 5, write
commands for the following:
a) Display the names of the months 3 through 7
from the Series MonthDays.
b) Display the Series MonthDays in reverse order.

In [ ]:
#a)
print(Months.iloc[3:8])

#b)
(Months.iloc[::-1]) #Display the series in reverse order

monthno
4    30
5    31
6    30
7    31
8    31
dtype: int64
monthno
12    31
11    30
10    31
9     30
8     31
7     31
6     30
5     31
4     30
3     31
2     28
1     31
dtype: int64

9. Create the following DataFrame Sales containing
year wise sales figures for five sales persons in INR.
Use the years as column labels, and sales person
names as row labels.

2014 2015 2016 2017

Madhu 100.5 12000 20000 50000

Kusum 150.8 18000 50000 60000

Kinshuk 200.9 22000 70000 70000

Ankit 30000 30000 100000 80000

Shruti 40000 45000 125000 90000

In [22]:
import pandas as pd

df1=pd.DataFrame([[100.5,120000,20000,50000],[150.8,18000,50000,60000],[200.9,22000,70000,70000],[30000,30000,100000,80000],[40000,45000,125000,90000]],columns=[2014,2015,2016,2017],index=['Madhu','Kusum','Kinshuk','Ankit','Shruthi'])

df1


#A DataFrame can be created by list of lists and mentioning columns and indexing explicitly if we want

            2014    2015    2016   2017
Madhu      100.5  120000   20000  50000
Kusum      150.8   18000   50000  60000
Kinshuk    200.9   22000   70000  70000
Ankit    30000.0   30000  100000  80000
Shruthi  40000.0   45000  125000  90000

10. Use the DataFrame created in Question 9 above to
do the following:

a) Display the row labels of Sales.

b) Display the column labels of Sales

c) Display the data types of each column of Sales.

d) Display the dimensions, shape, size and values
of Sales.

e) Display the last two rows of Sales.

f) Display the first two columns of Sales.

g) Create a dictionary using the following data. Use
this dictionary to create a DataFrame Sales2.

2018

Madhu 160000

Kusum 110000

Kinshuk 500000

Ankit 340000

Shruti 900000

h) Check if Sales2 is empty or it contains data.

In [13]:
#a)
print(df1.index) #Printing the name sof the Rows ie indexs

#b)
print(df1.columns) #printing the names of the columns

#c)
print(df1.dtypes) #To Display the DTypes of all the colomns

#d)
#print(df1.ndim)
#print(df1.size)
#print(df1.shape)
#print(df1.values)

#e)
#print(df1.tail(2))

#f)

print(df1.iloc[:,:2])

#e)

d1={2018:[160000,110000,500000,340000,9000000]}

df2=pd.DataFrame(d1,index=["Madhu","Kusum","Kinshuk","Ankit","Shruthi"])

print(df2)


print(df2.empty) #To check Oif DataFrame is Emptyyy

Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruthi'], dtype='object')
Index([2014, 2015, 2016, 2017], dtype='int64')
2014    float64
2015      int64
2016      int64
2017      int64
dtype: object
            2014    2015
Madhu      100.5  120000
Kusum      150.8   18000
Kinshuk    200.9   22000
Ankit    30000.0   30000
Shruthi  40000.0   45000
            2018
Madhu     160000
Kusum     110000
Kinshuk   500000
Ankit     340000
Shruthi  9000000
False

11. Use the DataFrame created in Question 9 above to
do the following:
a) Append the DataFrame Sales2 to the DataFrame
Sales.

b) Change the DataFrame Sales such that it becomes
its transpose.

c) Display the sales made by all sales persons in the
year 2017.

d) Display the sales made by Madhu and Ankit in
the year 2017 and 2018.

e) Display the sales made by Shruti 2016.

f) Add data to Sales for salesman Sumeet where
the sales made are [196.2, 37800, 52000, 78438,
38852] in the years [2014, 2015, 2016, 2017,
2018] respectively.

g) Delete the data for the year 2014 from the
DataFrame Sales.

h) Delete the data for sales man Kinshuk from the
DataFrame Sales.

i) Change the name of the salesperson Ankit to
Vivaan and Madhu to Shailesh.

j) Update the sale made by Shailesh in 2018 to
100000.

k) Write the values of DataFrame Sales to a comma
separated file SalesFigures.csv on the disk. Do
not write the row labels and column labels.

l) Read the data in the file SalesFigures.csv into
a DataFrame SalesRetrieved and Display it.
Now update the row labels and column labels of
SalesRetrieved to be the same as that of Sales.

In [104]:
#a)
result=pd.concat([df1,df2],axis=1) #Add it row-wise axis=1

#b)
result.transpose() #Direct transpose method to transpose the datframe

#c)
#print(result[2017]) #2017 is a column

#d)
#print(result.loc["Madhu", 2017:2019])
#print(result.loc["Ankit",2017:2019])

#e)
result.loc["Shruthi",2018]

#f)
result.loc["Sumeet"] = [196.2, 37800, 52000, 78438, 38852] # Add Sumeet's data row using .loc
result
#g)
result=result.drop(2014,axis=1) #For deleting a column axis=1
result
#h)
result=result.drop("Kinshuk") #For deleting a row no need of mentioning axiss
result
#i)
result.rename(index={"Kinshuk": "Vivaan"}, inplace=True)
result

result.rename(index={"Madhu":"Sailesh"},inplace=True)  #Use rename function to rename any indexx and columns for indexs we use index={Oldname:newname } and similarly for columns columns={oldname:newname}

result

#j)
result.loc['Sailesh',2018]=100000
result

#k)
result.to_csv("SalesFigures.csv", index=False, header=False)

#i)
SalesRetrieved=pd.read_csv("SalesFigures.csv",header=None) #If header!=None then it is taking the first row as column names

SalesRetrieved.columns=[2015,2016,2017,2018]

SalesRetrieved.index=["Sailesh","Kusum","Ankit","Shruthi","Sumeet"]

print(SalesRetrieved)

             2015      2016     2017       2018
Sailesh  120000.0   20000.0  50000.0   100000.0
Kusum     18000.0   50000.0  60000.0   110000.0
Ankit     30000.0  100000.0  80000.0   340000.0
Shruthi   45000.0  125000.0  90000.0  9000000.0
Sumeet    37800.0   52000.0  78438.0    38852.0

13. Assuming the given table: Product. Write the python
code for the following:

Item Company Rupees USD

TV LG 12000 700

TV VIDEOCON 10000 650

TV LG 15000 800

AC SONY 14000 750

a) To create the data frame for the above table.

b) To add the new rows in the data frame.

c) To display the maximum price of LG TV.

d) To display the Sum of all products.

e) To display the median of the USD of Sony
products.

f) To sort the data according to the Rupees and
transfer the data to MySQL.

g) To transfer the new dataframe into the MySQL
with new values.

In [111]:
import pandas as pd

Apliances=pd.DataFrame([["Tv","LG",12000,700],["Tv","Videocon",10000,650],["Tv","LG",15000,800],["Ac","Sony",14000,750]],columns=["Item","Company","Rupees","USD"])

Apliances

Apliances.loc[4]=["Tv","Sony",16000,90]
Apliances.loc[len(Apliances.index)]=["Ac","Misthibushi",12346,99]

Apliances

  Item      Company  Rupees  USD
0   Tv           LG   12000  700
1   Tv     Videocon   10000  650
2   Tv           LG   15000  800
3   Ac         Sony   14000  750
4   Tv         Sony   16000   90
5   Ac  Misthibushi   12346   99

Week -2 Scikit Learn

Write a Python program to load the iris data from a given csv file into a dataframe and
print the shape of the data, type of the data and first 3 rows.

In [ ]:
import pandas as pd
df=pd.read_csv('/content/iris.data')
print(df.shape)
print()# Printing the shape of the DF
print(df.head(3)) #To display top 3 rows from the DF
print()
print(df.dtypes)

(149, 5)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

2. Write a Python program using Scikit-learn to print the keys, number of rows-columns,
feature names and the description of the Iris data.

In [ ]:
from sklearn import datasets
iris=datasets.load_iris()
print(iris.keys())
print(iris.data.shape)

print("The feature names are ",iris.feature_names)

print("The description of Iris Data is ",iris.DESCR)

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])
(150, 4)
The feature names are  ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
The description of Iris Data is  .. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

3. Write a Python program to get the number of observations, missing values and nan
values.

In [ ]:
#print(iris.data.isnull().sum())  #Shows error because iris.data is a numpy array we have to use isnan()

df=pd.DataFrame(data=iris.data)
#print(df.isnull().sum()) #Sum of the null values in each row

n=df.isnull().sum().sum()

print("The no of Null Values are ",n)
print("The Size of the data frame is ", df.size)

The no of Null Values are  0
The Size of the data frame is  600

4. Write a Python program to view basic statistical details like percentile, mean, std etc.
of iris data.

In [ ]:
print(df.describe())

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

5. Write a Python program to get observations of each species (setosa, versicolor,
virginica) from iris data.