<a href="https://colab.research.google.com/github/Seshmanuvarthi/ml-journey-2025/blob/main/ML_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WEEK-1

5. Create the following Series and do the specified
operations:
a) EngAlph, having 26 elements with the alphabets
as values and default index values.
b) Vowels, having 5 elements with index labels ‘a’,
‘e’, ‘i’, ‘o’ and ‘u’ and all the five values set to zero.
Check if it is an empty series.
c) Friends, from a dictionary having roll numbers of
five of your friends as data and their first name
as keys.
d) MTseries, an empty Series. Check if it is an empty
series.
e) MonthDays, from a numpy array having the
number of days in the 12 months of a year. The
labels should be the month numbers from 1 to 12.

In [34]:
import pandas as pd
import numpy as np

#a)
alphabets = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
             'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T',
             'U', 'V', 'W', 'X', 'Y', 'Z']
EngAlph = pd.Series(alphabets)
#print(EngAlph)

#b)
Vowels = pd.Series([0, 0, 0, 0, 0], index=['a', 'e', 'i', 'o', 'u'])
#print("Vowels Series:")
#print(Vowels)
#print("\nIs the Vowels series empty ",Vowels.empty)

#c)
d1={"sesh":1900,"sesh2":1901,"sesh3":1902,"sesh4":1904,"sesh5":1905}
frndSeries=pd.Series(d1)
#print(frndSeries)

#d)
MTSeries=pd.Series()
#print(MTSeries.empty)

#e)
days = np.array([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31])
Months=pd.Series(days,index=[1,2,3,4,5,6,7,8,9,10,11,12])
print(Months)

sesh     1900
sesh2    1901
sesh3    1902
sesh4    1904
sesh5    1905
dtype: int64
1     31
2     28
3     31
4     30
5     31
6     30
7     31
8     31
9     30
10    31
11    30
12    31
dtype: int64

6. Using the Series created in Question 5, write
commands for the following:
a) Set all the values of Vowels to 10 and display the
Series.
b) Divide all values of Vowels by 2 and display the
Series.
c) Create another series Vowels1 having 5 elements
with index labels ‘a’, ‘e’, ‘i’, ‘o’ and ‘u’ having values
[2,5,6,3,8] respectively.
d) Add Vowels and Vowels1 and assign the result to
Vowels3.
e) Subtract, Multiply and Divide Vowels by Vowels1.
f) Alter the labels of Vowels1 to [‘A’, ‘E’, ‘I’, ‘O’, ‘U’].

In [33]:
Vowels = pd.Series(10, index=['a', 'e', 'i', 'o', 'u'])
#print(Vowels)

Vowels=Vowels/2         #Divide each value by 2
#print(Vowels)

Vowels1=pd.Series([2,5,6,3,8],index=['a', 'e', 'i', 'o', 'u'])

Vowels3=Vowels+Vowels1
#print(Vowels3)

print(Vowels-Vowels1)

print(Vowels+Vowels1)

print(Vowels*Vowels1)                       #Athematic operations can be directlt performed on the 2 SERIES directly just like integers

print(Vowels/Vowels1)

Vowels1.index=["A",'E','I','O','U']

print(Vowels1)

a    3.0
e    0.0
i   -1.0
o    2.0
u   -3.0
dtype: float64
a     7.0
e    10.0
i    11.0
o     8.0
u    13.0
dtype: float64
a    10.0
e    25.0
i    30.0
o    15.0
u    40.0
dtype: float64
a    2.500000
e    1.000000
i    0.833333
o    1.666667
u    0.625000
dtype: float64
A    2
E    5
I    6
O    3
U    8
dtype: int64

Week -2 Scikit Learn

Write a Python program to load the iris data from a given csv file into a dataframe and
print the shape of the data, type of the data and first 3 rows.

In [12]:
import pandas as pd
df=pd.read_csv('/content/iris.data')
print(df.shape)
print()# Printing the shape of the DF
print(df.head(3)) #To display top 3 rows from the DF
print()
print(df.dtypes)

(149, 5)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

2. Write a Python program using Scikit-learn to print the keys, number of rows-columns,
feature names and the description of the Iris data.

In [13]:
from sklearn import datasets
iris=datasets.load_iris()
print(iris.keys())
print(iris.data.shape)

print("The feature names are ",iris.feature_names)

print("The description of Iris Data is ",iris.DESCR)

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])
(150, 4)
The feature names are  ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
The description of Iris Data is  .. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

:Number of Instances: 150 (50 in each of three classes)
:Number of Attributes: 4 numeric, predictive attributes and the class
:Attribute Information:
    - sepal length in cm
    - sepal width in cm
    - petal length in cm
    - petal width in cm
    - class:
            - Iris-Setosa
            - Iris-Versicolour
            - Iris-Virginica

:Summary Statistics:

============== ==== ==== ======= ===== ====================
                Min  Max   Mean    SD   Class Correlation
============== ==== ==== ======= ===== ====================
sepal length:   4.3  7.9   5.84   0.83    0.7826
sepal width:    2.0  4.4   3.05   0.43   -0.4194
petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
============== ==== ==== ======= ===== ====================

:Missing Attribute Values: None
:Class Distribution: 33.3% for each of 3 classes.
:Creator: R.A. Fisher
:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
:Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. dropdown:: References

  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
    Mathematical Statistics" (John Wiley, NY, 1950).
  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
    Structure and Classification Rule for Recognition in Partially Exposed
    Environments".  IEEE Transactions on Pattern Analysis and Machine
    Intelligence, Vol. PAMI-2, No. 1, 67-71.
  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
    on Information Theory, May 1972, 431-433.
  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
    conceptual clustering system finds 3 classes in the data.
  - Many, many more ...

3. Write a Python program to get the number of observations, missing values and nan
values.

In [14]:
#print(iris.data.isnull().sum())  #Shows error because iris.data is a numpy array we have to use isnan()

df=pd.DataFrame(data=iris.data)
#print(df.isnull().sum()) #Sum of the null values in each row

n=df.isnull().sum().sum()

print("The no of Null Values are ",n)
print("The Size of the data frame is ", df.size)

The no of Null Values are  0
The Size of the data frame is  600

4. Write a Python program to view basic statistical details like percentile, mean, std etc.
of iris data.

In [11]:
print(df.describe())

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.057333    3.758000    1.199333
std      0.828066    0.435866    1.765298    0.762238
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

5. Write a Python program to get observations of each species (setosa, versicolor,
virginica) from iris data.